.filtercheckbox {
  flex-grow: 1;
  display: flex;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 39px;
}

.filtercheckbox__input {
  display: none;
}

.filtercheckbox__visible-input {
  width: 36px;
  height: 20px;
  position: relative;
  border-radius: 20px;
  margin-right: 10px;
}

.filtercheckbox__visible-input::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  background: var(--page-color);
  border-radius: 20px;
}

.filtercheckbox__input:checked + .filtercheckbox__visible-input::before {
  transition: 0.3s;
  left: 75%;
}

.filtercheckbox__input:checked + .filtercheckbox__visible-input {
  transition: 0.3s;
}

.filtercheckbox__input:not(checked) + .filtercheckbox__visible-input::before {
  transition: 0.3s;
  left: 30%;
}

.filtercheckbox__input:not(checked) + .filtercheckbox__visible-input {
  transition: 0.3s;
  background-color: var(--green-color);
}

@media screen and (max-width: 850px) {
  .filtercheckbox {
      margin-top: 38px;
  }
}