.register {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    width: 396px;
}

@media screen and (max-width: 800px) {
  .register {
      margin: 56px auto;
      width: 90%;
  }
  .register__logo {
      margin-right: 0;
      align-self: center;
  }
  .register__head {
      text-align: center;
  }
  .register__in {
      font-size: 12px;
      line-height: 15px;
  }
}

@media screen and (max-width: 600px) {
    .register {
        margin: 56px auto;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

}
