@import url('./vendor/fonts/fonts.css');

:root {
  --page-color: #FFFFFF;
  --gray-light-color: #F9F9F9;
  --gray-light-color-footer: #FAFAFA;
  --green-color: #3DDC84;
  --gray-color: #F5F5F5;
  --gray-color-dark: #F2F2F2;
  --gray-color-most-dark: #A0A0A0;
  --gray-color-more-dark: #E8E8E8;
  --black-color: #000000;

}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--page-color);
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--black-color);


  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
